version: 2

aliases:
  - &docker
    - image: mathdugre/ci-conp-dataset:v1

  - &workdir ~/conp-dataset

  - &restore_python_cache
    restore_cache:
      name: Restore Python Cache
      keys:
        - v1.4.2-python-{{ .Branch }}
        - v1.4.2-python-

jobs:
  build:
    working_directory: *workdir
    docker: *docker

    steps:
      - checkout:
          path: *workdir
      - *restore_python_cache
      - run:
          name: Install Dependencies
          command: |
            python -m venv ~/venv
            . ~/venv/bin/activate
            find . -name requirements.txt | xargs -I{} pip install -r {}
      - save_cache:
          name: Save Python Cache
          paths:
            - ~/venv
          key: v1.4.2-python-{{ .Branch }}
      - run:
          name: Install CONP-DATS Validator
          command: |
            . ~/venv/bin/activate
            export PATH=~/git-annex.linux:$PATH
            datalad install scripts/dats_validator/conp-dats
      - persist_to_workspace:
          root: *workdir
          paths:
            - scripts/dats_validator/conp-dats

  test:
    working_directory: *workdir
    docker: *docker
    parallelism: 2

    steps:
      - checkout:
          path: *workdir
      - attach_workspace:
          at: *workdir
      - *restore_python_cache
      - run:
          name: Run Tests
          command: |
            . ~/venv/bin/activate
            pip install gitpython==3.1.7
            export PATH=~/git-annex.linux:$PATH
            python tests/create_tests.py
            circleci tests glob tests/test_* | circleci tests split > /tmp/tests-to-run 
            PYTHONPATH=$PWD:$PWD/scripts pytest --junitxml=tests/junit.xml -v -rfEs $(cat /tmp/tests-to-run)
      - store_test_results:
          path: tests
      - run:
          when: always
          name: Parse Test Results
          command: |
            . ~/venv/bin/activate
            PYTHONPATH=$PWD:$PWD/scripts python tests/parse_results.py
      - store_artifacts:
          path: tests/test-status.json

workflows:
  version: 2
  commit:
    jobs:
      - build
      - test:
          requires:
            - build

  monitoring:
    triggers:
      - schedule:
          cron: "0 0,4,8,12,16,20 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build
      - test:
          requires:
            - build
